body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #323131;
  font-family: Arial, Helvetica, sans-serif;
  color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #f6eda9;
  text-align: center;
  width: 20vw;
  height: 40vh;
  padding-top: 20px;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

input {
  border-radius: 5px;
  padding: 10px;
}

button {
  margin-top: 30px;
  width: 100px;
  height: 50px;
  background-color: #14a0b8;
}

button:hover {
  background-color: #126eef;
}
