* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px red solid;
}

caption {
    font-size: xx-large;    
}

table {
    border-collapse: collapse;
    width: 75vb;
    text-align: center;
}

th, tr, td {
    border: 1px solid;
}

