<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice-02</title>
    <link rel="stylesheet" href="../css/style02.css">
</head>
<body>
    <div>
        <table>
        <thead>
            <caption>Pricing Table</caption>
            <tr>
                <th>Basic</th>
                <th>Pro</th>
                <th>Enterprise</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>$10/mo</td>
                <td>$25/mo</td>
                <td>$50/mo</td>
            </tr>
            <tr>
                <td>A</td>
                <td>B</td>
                <td>C</td>
            </tr>
            <tr>
                <td>A</td>
                <td>B</td>
                <td>C</td>
            </tr>
            <tr>
                <td>A</td>
                <td>B</td>
                <td>C</td>
            </tr>
            <tr>
                <td>Buy Now</td>
                <td>Buy Now</td>
                <td>Buy Now</td>
            </tr>
        </tbody>
    </table>
    </div>
</body>
</html>