<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        table,th, tr, td {
            border: 1px solid;
            border-collapse: collapse;
        }

        th, tr, td {
            margin: auto;
        }

    </style>
</head>
<body>
    <header>
        <h1>HTML Elements</h1>
    </header>
    <main>
        <section>
            <h2>Introduction</h2>
            <p>This webpage gives an overview of common html elements.</p>
        </section>
        <section>
            <h2>Key HTML Elements</h2>
            <ul>
                <li>Semantic tags such as article and section</li>
                <li>Multimedia elements such as video and audio</li>
            </ul>
        </section>
        <section>
            <h3>Contact Us</h3>
            <form action="" method="post">
                <label for="name">Name:</label><br>
                <input type="text" name="name"><br><br>

                <label for="email">Email:</label><br>
                <input type="email" name="email"><br><br>

                <label for="message">Message:</label><br>
                <textarea cols="18"></textarea><br><br>

                <input type="button" value="Send">
            </form>
        </section>
        <section>
            <h2>Sample Multimedia</h2>
            
            <iframe width="250" height="150" 
                src="https://www.youtube.com/embed/HHjSdy9l7Kc" 
                frameborder="0" 
                allowfullscreen>
            </iframe>

        </section>
        <section>
            <h2>Data Table</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ABCD</td>
                        <td>42</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <footer>
        <p>My Website</p>
    </footer>
</body>
</html>